.container {
  max-width: 960px;
  margin: 0 auto;
}

.thumbnail img {
  max-width: 150px;
}

.price {
  font-weight: bold;
  font-size: 18px;
  color: rgb(88, 84, 84);
  margin-left: 10px;
}

.card-text {
  color: gray;
}

.btn {
  margin-right: 5px;
}

.row-right {
  text-align: right !important;
}
.overflow-hidden { overflow: hidden; }